<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SugarSystem.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"  />
    </settings>
  </system.net>
  <connectionStrings>
    <add name="ORA10GConnection" connectionString="Data Source=192.168.200.97;Initial Catalog=ORA_10G;User ID=sa;Password=P@ssw0rd;max pool size=1024;Pooling=true;Connection Timeout=300" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="UrlVersion" value="http://auto.tonproject.com/version.html" />
    <add key="UrlFile" value="http://auto.tonproject.com/" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ICC_PROFILE_PATH" value="res\sRGB Color Space Profile.icm" />
    <add key="XMLtmpFolder" value="tmp_xml" />
    <add key="URL_KN9" value="http://test.exportapi.ocsb.go.th/licensekn9" />
    <add key="URL_KN10" value="http://test.exportapi.ocsb.go.th/licensekn10" />
    <add key="URL_A1" value="http://test.exportapi.ocsb.go.th/licensea1" />
    <add key="URL_A2" value="http://test.exportapi.ocsb.go.th/licensea2" />
    <add key="URL_GetForm" value="http://test.exportapi.ocsb.go.th/getPdfTemplate" />
    <add key="URL_GetUserInfo" value="http://test.exportapi.ocsb.go.th/Attorney" />
    <add key="URL_KN10Cancel" value="http://test.exportapi.ocsb.go.th/cancelkn10" />
    <add key="URL_KN10Renew" value="http://test.exportapi.ocsb.go.th/renewkn10" />
    <add key="URL_A2Cancel" value="http://test.exportapi.ocsb.go.th/cancela2" />
    <add key="URL_A2Renew" value="http://test.exportapi.ocsb.go.th/renewa2" />


    <!--<add key="Websites" value="http://test.export.ocsb.go.th/" />
    <add key="TSAurl" value="https://test.time.teda.th" />
    <add key="HASH_FUNCTION" value="SHA256" />
    <add key="HASH_FUNCTION_OID" value="2.16.840.1.101.3.4.2.1" />
    <add key="certRefNumber" value="เพื่อการทดสอบ" />
    <add key="pathWS" value="~/OSCB_Documents/" />
    <add key="HASH_FUNCTION_TSA" value="SHA256" />

    <add key="Userws" value="admin" />
    <add key="Passws" value="admin" />-->
    <!--<add key="FTPUpload" value="ftp://10.3.20.57/"/>-->
    <!--<add key="ftpuser" value="ftpuser" />
  <add key="ftppassword" value="nswp@ssw0rd" />
  <add key="FTPUpload" value="ftp://test.export.ocsb.go.th/"/>-->
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CertificateGenerationServicePortBinding" closeTimeout="00:00:30" openTimeout="00:00:30" receiveTimeout="00:00:30" sendTimeout="00:00:30" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000" textEncoding="utf-8" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000" maxArrayLength="200000000" />
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <binding name="CertificateGenerationServicePortBinding1" />
        <binding name="CertificateGenerationServicePortBinding2">
          <security mode="Transport" />
        </binding>
        <binding name="CertificateGenerationServicePortBinding3" maxReceivedMessageSize="9999999" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://certificate.teda.th/service" binding="basicHttpBinding" bindingConfiguration="CertificateGenerationServicePortBinding" contract="CertificateGenerationWS.CertificateGenerationService" name="CertificateGenerationServicePort" />
      <endpoint address="https://certificate.teda.th/service" binding="basicHttpBinding" bindingConfiguration="CertificateGenerationServicePortBinding2" contract="ServiceReference.CertificateGenerationService" name="CertificateGenerationServicePort1" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CefSharp" publicKeyToken="40c4b6fc221f4138" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-57.0.0.0" newVersion="57.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.13.0" newVersion="5.5.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <SugarSystem.Client.Properties.Settings>
      <setting name="signatureField" serializeAs="String">
        <value />
      </setting>
      <setting name="signatureField2" serializeAs="String">
        <value />
      </setting>
      <setting name="Userts" serializeAs="String">
        <value />
      </setting>
      <setting name="Passts" serializeAs="String">
        <value />
      </setting>
      <setting name="Reason" serializeAs="String">
        <value />
      </setting>
      <setting name="Location" serializeAs="String">
        <value />
      </setting>
      <setting name="HASH_FUNCTION_OID" serializeAs="String">
        <value>2.16.840.1.101.3.4.2.1</value>
      </setting>
      <setting name="UserwsPortal" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="PasswsPortal" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="FTPuser" serializeAs="String">
        <value />
      </setting>
      <setting name="FTPpassword" serializeAs="String">
        <value />
      </setting>
      <setting name="certRef" serializeAs="String">
        <value />
      </setting>
      <setting name="passwordedit" serializeAs="String">
        <value />
      </setting>
      <setting name="FTPUpload" serializeAs="String">
        <value />
      </setting>
      <setting name="pathWS" serializeAs="String">
        <value />
      </setting>
      <setting name="Client_wsPortal_OCSB" serializeAs="String">
        <value>http://mock.tonproject.com/services/ocsb.asmx</value>
      </setting>
      <setting name="Client_UpdateSignaturePath_UpdateKN9Status" serializeAs="String">
        <value>http://test.export.ocsb.go.th/WebService/UpdateKN9Status.asmx</value>
      </setting>
      <setting name="Userpdf" serializeAs="String">
        <value>nti_wsUser</value>
      </setting>
      <setting name="Passpdf" serializeAs="String">
        <value>azeDAGYJ</value>
      </setting>
      <setting name="URLts" serializeAs="String">
        <value>https://test.time.teda.th</value>
      </setting>
      <setting name="OIDKN9" serializeAs="String">
        <value>2.16.764.1.4.100.3.1000.1.1.1.1</value>
      </setting>
      <setting name="URLcergenserver" serializeAs="String">
        <value>https://test.certificate.teda.th/service</value>
      </setting>
      <setting name="URLwebsite" serializeAs="String">
        <value>http://test.export.ocsb.go.th</value>
      </setting>
      <setting name="ValidationURL" serializeAs="String">
        <value>http://test.export.ocsb.go.th/validation/license.aspx</value>
      </setting>
      <setting name="HASH_FUNCTION" serializeAs="String">
        <value>SHA1</value>
      </setting>
      <setting name="OIDKN10" serializeAs="String">
        <value>2.16.764.1.4.100.3.1000.1.2.1.1</value>
      </setting>
      <setting name="OIDA1" serializeAs="String">
        <value>2.16.764.1.4.100.3.1000.1.4.1.1</value>
      </setting>
      <setting name="OIDA2" serializeAs="String">
        <value>2.16.764.1.4.100.3.1000.1.5.1.1</value>
      </setting>
      <setting name="OidCRKN" serializeAs="String">
        <value>2.16.764.1.4.100.3.1000.1.3.1.1</value>
      </setting>
      <setting name="OidCNA2" serializeAs="String">
        <value>2.16.764.1.4.100.3.1000.1.7.1.1</value>
      </setting>
      <setting name="OidRNA2" serializeAs="String">
        <value>2.16.764.1.4.100.3.1000.1.6.1.1</value>
      </setting>
      <setting name="URL_API" serializeAs="String">
        <value>http://test.exportapi.ocsb.go.th</value>
      </setting>
      <setting name="SerialPDF4NET" serializeAs="String">
        <value>PDF4NET50-15N7J-PUNAE-FGK2F-JELKS-R2SJ1</value>
      </setting>
      <setting name="OIDKN9_Scm" serializeAs="String">
        <value>2.16.764.1.4.100.3.1000.1.1.1.2</value>
      </setting>
      <setting name="OIDKN10_Scm" serializeAs="String">
        <value>2.16.764.1.4.100.3.1000.1.2.1.2</value>
      </setting>
      <setting name="OidCRKN_Scm" serializeAs="String">
        <value>2.16.764.1.4.100.3.1000.1.3.1.2</value>
      </setting>
      <setting name="OIDA1_Scm" serializeAs="String">
        <value>2.16.764.1.4.100.3.1000.1.4.1.2</value>
      </setting>
      <setting name="OIDA2_Scm" serializeAs="String">
        <value>2.16.764.1.4.100.3.1000.1.5.1.2</value>
      </setting>
      <setting name="OidCNA2_Scm" serializeAs="String">
        <value>2.16.764.1.4.100.3.1000.1.7.1.2</value>
      </setting>
      <setting name="OidRNA2_Scm" serializeAs="String">
        <value>2.16.764.1.4.100.3.1000.1.6.1.2</value>
      </setting>
    </SugarSystem.Client.Properties.Settings>
  </userSettings>
</configuration>
